@font-face {
  font-family: "roboto-black";
  src: url("./fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("./fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("./fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("./fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-thin";
  src: url("./fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "spacemono-bold";
  src: url("./fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "spacemono-regular";
  src: url("./fonts/SpaceMono-Regular.ttf");
}
* {
    font-size: 16px;
    font-family: roboto-medium, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 1.5px;
}
h1, h2 {
  font-family: roboto-black;
}
h3, h4 {
  font-family: roboto-bold;
}